mixin popup(_mod)
    div(class= (_mod != '' && _mod != undefined) ? `popup--${_mod}` : '').popup
        .container
            .popup__panel
                .popup__close
                    <i class="fas fa-times"></i>
                .popup__body
                    if block
                        block