.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        background-color: black;
        content: '';
        display: block;
    }
    
    &__panel {
        margin: 0 auto;
        padding: 20px 146.5px 50px 146.5px;
        width: 800px;
        border: 1px solid black;
        border-radius: 10px;
        background: white;
        position: relative;
        z-index: 1;
    }
    &__close {
        color: #3677fd;
        text-align: right;
        font-size: 40px;
        cursor: pointer;
        transition: .5s;
        position: absolute;
        top: 10px;
        right: 20px;

        &:hover {
            transform-origin: center;
            transform: rotateZ(180deg);
        }
    }
    &__body {
        h2 {
        text-align: center;
        }
    }
}