-
    var expert =
        [
            {
                title: "mytitle1",
                src: "./img/01.jpg",
                text: "lorem1"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            }
        ]

    var latest = ["img/01.jpg", "img/01.jpg", "img/02.jpg", "img/02.jpg"]
    var latest__logo = ["img/MSFT_logo_png.png", "img/Samsung-logo-2015-Nobg.png", "img/ibm_logo.png", "img/Google_2015_logo.png"]