-
    var expert =
        [
            {
                title: "mobile app design",
                src: "../dist/img/expert-mobile.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim "
            },
            {
                title: "web design",
                src: "../dist/img/expert-design.png",
                text: "Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua."
            },
            {
                title: "web development",
                src: "../dist/img/expert-development.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            },
            {
                title: "product design",
                src: "../dist/img/expert-product.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            },
            {
                title: "ux&amp;ui",
                src: "../dist/img/expert-ux.png",
                text: "Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua."
            },
            {
                title: "animations",
                src: "../dist/img/animations.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            }
        ]

    var latest = ["img/01.jpg", "img/01.jpg", "img/02.jpg", "img/02.jpg"]
    var latest__logo = ["img/MSFT_logo_png.png", "img/Samsung-logo-2015-Nobg.png", "img/ibm_logo.png", "img/Google_2015_logo.png"]
    var latest__href = ["https://www.microsoft.com", "https://www.samsung.com", "https://www.ibm.com", "https://www.google.com"]