-
    var expert =
        [
            {
                title: "mobile app design",
                src: "../dist/img/expert-mobile.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim "
            },
            {
                title: "web design",
                src: "../dist/img/expert-design.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            },
            {
                title: "web development",
                src: "../dist/img/expert-development.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            },
            {
                title: "product design",
                src: "../dist/img/expert-design.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            },
            {
                title: "ux&amp;ui",
                src: "../dist/img/expert-ux.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            },
            {
                title: "animations",
                src: "../dist/img/animations.png",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim"
            }
        ]

    var latest = ["img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg"]