-
    var expert =
        [
            {
                title: "mytitle1",
                src: "./img/01.jpg",
                text: "lorem1"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            },
            {
                title: "mytitle2",
                src: "./img/02.jpg",
                text: "lorem2"
            }
        ]

    var latest = ["img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg", "img/l01.jpg"]