mixin payment(data = {}, mods = {})
    ul.payment&attributes(attributes)
        li.payment__method
            label.payment__label
                input(
                    id       = "payment-method-direct"
                    type     = "radio"
                    name     = "payment_method"
                    value    = "direct"
                    checked  = true
                    required
                ).payment__radio

                span.payment__mark(aria-hidden="true")

                span.payment__title Direct payment
        
            .payment__desc
                p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
        
        li.payment__method
            label.payment__label
                input(
                    id       = "payment-method-cheque"
                    type     = "radio"
                    name     = "payment_method"
                    value    = "cheque"
                    required
                ).payment__radio

                span.payment__mark(aria-hidden="true")

                span.payment__title Cheque payment
        
            .payment__desc
                p Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.

        li.payment__method
            label.payment__label
                input(
                    id       = "payment-method-paypal"
                    type     = "radio"
                    name     = "payment_method"
                    value    = "paypal"
                    required
                ).payment__radio

                span.payment__mark(aria-hidden="true")

                span.payment__title PayPal
        
                img(src="img/payment.png", alt="").payment__cards

                a(href="javascript:void(0);").payment__link What is PayPal?
                
            .payment__desc
                p Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account. 