.navigation {
    
    &__list {
        text-align: center;
        list-style: none;
        border-bottom: 1px solid #d1d9e4;
        padding: 81px 0 81px 0;

        a {
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-size: 50px;
            font-weight: 300;
            line-height: 98px;
            color: #d2d2d2;
        }
        .navigation__link--active{
            color: #3677fd;
        }
    }

}

.social {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 98px;
    &__list {
        list-style-type: none;
        display: flex;
    }
    &__item {
        background-color: #e1e1e1;
        width: 60px;
        height: 60px;
        padding: 15px;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
        transition: .3s;

        &:first-child {
            padding-left: 21px;
        }

        &:hover {
            background-color: #3680fe;
            transform-origin: center;
            transform: rotateZ(360deg);
        }

        a {
            color: white;
            text-decoration: none;
            i {
                display: block;
            }
        }
    }
}
.popup {
    &__lang {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}