mixin team(data = {}, mods = {})
    .team&attributes(attributes)
        .team__inner
            each person in data
                .team__person-wrap
                    .team__person
                        img(src=person.img, alt=person.name).team__img

                        .team__header
                            h3.team__name= person.name

                            +social(person.social, {theme: 'team'}).team__social

                        .team__position= person.position
