mixin pagination(data = {}, mods = {})
    nav.pagination(
        aria-label = 'Pagination Navigation'
    )&attributes(attributes)
        ul.pagination__list
            if data.activePage > 1
                li.pagination__item
                    a(
                        href       = "javascript:void(0);"
                        aria-label = "Go to Previous Page "
                    ).pagination__link
                        i.fa.fa-long-arrow-alt-left(aria-hidden="true")

            - let i = 1;
            while i <= data.pages
                li.pagination__item
                    a(
                        href         = "javascript:void(0);"
                        class        = {
                            pagination__link        : true,
                            pagination__link_active : i == data.activePage
                        }
                        aria-label   = "Go to Page " + i
                        aria-current = (i == data.activePage) && "page"
                    )= i
                - i++;
            
            if data.activePage < data.pages
                li.pagination__item
                    a(
                        href       = "javascript:void(0);"
                        aria-label = "Go to Next Page "
                    ).pagination__link
                        i.fa.fa-long-arrow-alt-right(aria-hidden="true")