.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main-button {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.submission {
    padding-top: 14px;
}

.submission__button {
    border: 1px solid #e5ddd5;
    outline: none;
    background: transparent;
    color: black;
    font-family: "PT Sans Narrow";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 29px;
}

.submission__button--active:active {
    background-color: #d5c9bd;
}

.submission__button--hover {
    border: 1px solid #d5c9bd;
}