/* styles goes here */
body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.btn-huge {
    cursor: pointer;
    border: none;
    background-color: #826550;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 20px;
}

.btn-huge:hover {
    background-color: #6a4d38;
}

.btn-huge:active {
    color: rgba(255, 255, 255, .3);
}

input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

input[type="radio"] + label {
    display: inline-flex;
    position: relative;
    padding-left: 97px;
    min-height: 70px;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #e5ddd5;
    border-radius: 50%;
}

input[type="radio"] + label:hover:before {
    border-color: #d5c9bd;
}

input[type="radio"] + label:active:before {
    background-color: #d5c9bd;
}

input[type="radio"] + label:after {
    content: "";
    position: absolute;
    left: 21px;
    top: 21px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 100%;
}

input[type="radio"]:checked+label:after {
    border-color: #e5ddd5;
}

input[type="radio"]:checked+label:hover::after,
input[type="radio"]:checked+label:hover::before {
    border-color: #d3c8be;

}

input[type="radio"]:checked+label:active::after,
input[type="radio"]:checked+label:active::before {
    background-color: #d5c9bd;
}

.input_text {
    outline: 0;
    text-decoration: none;
    padding: 15px 20px;
    width: 100%
}

.name {
    border: 1px solid #e6ded6;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 17.99px;
    line-height: 12.757px;
}

.name:hover {
    border-color: #d6cabf;
}

.name:focus {
    border-color: #9a9a9a;
}