mixin sidebar-cart(data = {}, mods = {})
    .sidebar-cart&attributes(attributes)
        h2.sidebar-cart__title Cart
            i.icon-basket.icons.sidebar-cart__icon(aria-hidden="true")

        p.sidebar-cart__empty No items in cart