.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    border-radius:50px;
    align-self: center;

    &--primary {
        font-size: 12px;
        color: #194277;
        background-color: WHITE;
        padding: 10px 35px;
    }

    &--secondary {
        color: #3695ff;
        text-transform: uppercase;
        padding: 20px 70px;
        background-color: WHITE;
    }

    &--secondary_send {
        color: white;
        background-color: #3695ff;
        text-transform: uppercase;
        padding: 20px 70px;
    }

    &:hover {
        opacity: .72;
    }
}