/**
 * Styles for the cta block.
 */
.cta {
    &__wrap {
        padding: 10px;

        background: {
            color: rgba($color-black, 0.3);
            position: center;
            repeat: no-repeat;
            size: cover;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 36px 15px;

        border: 2px dashed $color-white;
    }

    &__title {
        color: $color-white;
        
        @include font-size(18px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.3em;
        text-transform: uppercase;

        @include breakpoint-up(sm) {
            @include font-size(24px);
        }

        @include breakpoint-up(md) {
            @include font-size(30px);
        }

        @include breakpoint-up(lg) {
            @include font-size(36px);
            letter-spacing: 0.4em;
        }
    }

    &__btn {
        margin: 0 15px;
        width: 100px;

        @include breakpoint-up(xl) {
            margin-left: 45px;
            margin-right: 45px;
        }
    }
}
