//-
    name: navbar
    description: Markup for the navbar block
    arguments:
        - {object} data - block data

mixin navbar(data = {})
    .navbar&attributes(attributes)
        p.navbar__main
        button.navbar__burger
            span.navbar__burger--line
        ul.navbar__list
            each val in data
                li.navbar__item
                    a(href= val.link, class= val.active ? 'navbar__link--active' : '').navbar__link= val.text