//-
    name: footer
    description: Markup for the footer block
    arguments:
        - {object} data - block data

mixin footer(data = {})
    .footer&attributes(attributes)
        .footer__adress
            h5.footer__title= data.adress.title
            p.footer__text= data.adress.text