/**
 * Styles for the footer block.
 */
.footer {
    // Selector styles
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    &__title {
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
    }

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
