/**
 * Styles for the subscribe form block.
 */
.subscribe {
    // &__input {
    //     display: block;
    //     padding: 15px 18px;
    //     width: 100%;

    //     color: $color-text;
    //     font-family: $font-family-serif;
    //     @include font-size(14px);
    //     font-style: italic;

    //     background: transparent;
    //     border: 2px dashed $color-silver;

    //     &::placeholder {
    //         color: $color-silver;
    //     }
    // }

    &__btn {
        margin-top: 30px;
        min-width: 170px;

        .subscribe_footer & {
            min-width: 100px;
        }
    }
}
