/**
 * Styles for the statistic block.
 */
.statistic {
    // Selector styles
    // TODO: add code
    background-color: white;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // Bem modifiers
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__title {
        color: $color-black;
        font-family: $font-pt-sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
    }
}
