/**
 * Styles for the statistic block.
 */
.statistic {
    // Selector styles
    // TODO: add code
    // margin-top: 50px;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // Bem modifiers
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__white {
        background-color: $color-white;
        padding-top: 27px;
        padding-bottom: 26px;
    }

    &__title {
        color: $color-black;
        font-family: $font-pt-sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        max-width: 220px;
        margin: 0 auto;
        letter-spacing: -.09em;
        margin-bottom: 16px;
    }

    &__subtitle {
        color: $color-black;
        font-family: $font-pt-sans;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: -.09em;
        max-width: 245px;
        margin: 0 auto;
    }

    &__list {
        color: $color-white;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #4e4e4e;

        &:nth-child(odd) {
            background-color: #404040;
        }
    }

    &__number {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -.08em;

        & sup {
            font-size: 12px;
        }
    }

    &__description {
        // color: #f7f4f1;
        text-align: right;
        font-size: 18px;
        line-height: 18px;
        max-width: 120px;
        letter-spacing: -.06em;
    }

    &__footnote {
        background-color: #242424;
        text-align: center;
        letter-spacing: -.1em;
        color: transparentize($color: $color-white, $amount: 0.7);
        font-size: 20px;
        line-height: 27px;
        padding: 12px;
    }
}
