mixin btn(data = {}, mods = {})
    -
        const theme = mods.theme || 'primary';
        const size  = mods.size  || 'default';
        const className = {
            btn                    : true,
            btn_rect               : !!mods.rect,
            ['btn_theme_' + theme] : true,
            ['btn_size_'  + size ] : true,
        };
    if (data.url)
        a(href=data.url class=className)&attributes(attributes)= data.text
    else
        button(class=className)&attributes(attributes)= data.text