.clients {
    padding-top: 37px;
    padding-bottom: 100px;
    text-align: center;

    &__item {
        filter: contrast(0%) brightness(1.5);

        &:hover {
            filter: contrast(100%);
        }
    }

    &__title{
        letter-spacing: -1.2px;
        margin-bottom: 58px;
    }

    &__img{
        display: block;
        margin: 0 auto;
    }
}