mixin clients(_title, _images)
    .clients
        .container
            h2.clients__title!= _title
            .row
                each img(_mod = ""), index in _images
                    .col-3
                        a(href="http://").clients__item
                            img(src=img, class= (_mod != '') ? `img--${_mod}` : '').clients__img
                            