mixin clients(_title, _images, _href)
    .clients
        .container
            h2.clients__title!= _title
            .row
            
                each img, index in _images
                    .col-3.d-flex.align-items-center.justify-content-center
                       each http, index in _href
                         a(href=http).clients__item
                            img(src=img).clients__img
                            