mixin side-section(data = {}, mods = {})
    section.side-section&attributes(attributes)
        .side-section__inner
            h2.title.side-section__title= data.title

            if data.intro
                .text.side-section__intro= data.intro

            .side-section__content
                if data.countdown
                    +countdown(data.countdown).side-section__countdown

                if data.text
                    .text.side-section__text !{data.text}

                if data.subscribe
                    +subscribe().side-section__subscribe

                if data.small
                    p.side-section__small= data.small

                if data.contactForm
                    +contact-form().side-section__contact

                if data.btn
                    +btn(data.btn, {size: 'large'}).side-section__btn

                if data.testimonials
                    +testimonials(data.testimonials).side-section__testimonials
        // /.side-section__inner 
    // /.side-section 