mixin back-link(data = {}, mods = {})
    a(href="product-category-3-columns.html").back-link&attributes(attributes)
        i.fas.fa-long-arrow-alt-left(aria-hidden="true")
        span.back-link__text Back