extends ../layouts/base.pug

include ../../blocks/logo/logo.pug
include ../../blocks/footer/footer.pug
include ../../blocks/statistic/statistic.pug
include ../../blocks/reviews/reviews.pug
include ../../blocks/navbar/navbar.pug
include ../../blocks/advantage/advantage.pug

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    .header
        +logo().header__logo
        +navbar().navbar
        +statistic(data.statistic)
    +advantage(data)
    +footer()
    .navbar
        +navbar().navbar
    .reviews
        +reviews().reviews
    .footer
        +footer().footer
        +statistic(data)
    +navbar()
    +footer()
        +navbar()
        +statistic(data.statistic)
    +advantage(data)
    +footer()
