extends ../layouts/base.pug

include ../../blocks/logo/logo.pug
include ../../blocks/statistic/statistic.pug
include ../../blocks/reviews/reviews.pug

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    .header
        +logo().header__logo
        +statistic(data)