extends ../layouts/base.pug

include ../../blocks/logo/logo.pug
include ../../blocks/footer/footer.pug
include ../../blocks/statistic/statistic.pug
<<<<<<< HEAD
include ../../blocks/reviews/reviews.pug
=======
include ../../blocks/navbar/navbar.pug
>>>>>>> 8812730daa953efdaee609240df22db4f650ba7e

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    .header
        +logo().header__logo
<<<<<<< HEAD
    .navbar
        +navbar().navbar
    .reviews
        +reviews().reviews
    .footer
        +footer().footer
=======
        +statistic(data)
    +navbar()
    +footer()
>>>>>>> 8812730daa953efdaee609240df22db4f650ba7e
