extends ../layouts/base.pug

include ../../blocks/logo/logo.pug
include ../../blocks/footer/footer.pug
include ../../blocks/statistic/statistic.pug
include ../../blocks/reviews/reviews.pug
include ../../blocks/navbar/navbar.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/news/news.pug
include ../../blocks/articles/articles.pug

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    .header
        +logo().header__logo
        +navbar(navData)
        +statistic(data.statistic)
    +articles(data.articles)
    +advantage(data.advantage)
    +news(data.news)
    +reviews()
    +footer(data.footer)