mixin social(data = {}, mods = {})
    - const theme = mods.theme || 'default';
    .social(class="social_theme_" + theme)&attributes(attributes)
        if data.text
            .social__text= data.text

        ul.social__list
            each link in data.links
                li.social__item
                    a(href="javascript:void(0);").social__link
                        i(
                            class      = "fab fa-" + link.className
                            aria-label = link.text
                        )