//-
    name: advantage
    description: Markup for the advantage block
    arguments:
        - {object} data - block data

mixin advantage(data = {})
    .advantage&attributes(attributes)
            p.advantage__info= data.advantageInfo
            img.advantage__img(src="./img/advantage-1-illustration.png", alt="")
            h2.advantage__title= data.advantageTitle
            p.advantage__subtitle= data.advantageSubtitle
            ul.advantage__ul
                li
                    input#advRadio1.advantage__radio(type='radio')
                    label.advantage__label(for='advRadio1')
                li
                    input#advRadio2.advantage__radio(type='radio')
                    label.advantage__label(for='advRadio2')
                li
                    input#advRadio3.advantage__radio(type='radio')
                    label.advantage__label(for='advRadio3')
