//-
    name: advantage
    description: Markup for the advantage block
    arguments:
        - {object} data - block data

mixin advantage(data = {})
    .advantage&attributes(attributes)
            .advantage__slider
                each item in data.slider
                    .advantage__slide
                        +icon(item.icon).advantage__img
                        h2.advantage__title= item.title
                        p.advantage__subtitle= item.text