.footer {
    background-color: #e8f3ff;
    background: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
    padding: 46px 0 53px;

    &__text {
        color: white;
        font-size: 50px;
        line-height: 65px;       
        /* Text style for "Need a graphic" */
        font-weight: 300;
        text-transform: initial;        
    }
    &__text--fatty {
        letter-spacing: 0.55px;
    }
}