/**
 * Styles for the section block.
 */
.section {
    &__heading {
        margin-bottom: 65px;
    }

    &__intro {
        margin: 25px auto 0;
        max-width: 570px;

        font-family: $font-family-serif;
        @include font-size(18px);
        line-height: 1.6666;
        text-align: center;
    }
}
