.cookie {
    position: sticky;
    top: 0;
    background-color: #194277;
    text-align: center;
    padding: 18px 0;
    z-index: 10;

    &__text {
        margin-right: 53px;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
    }
}