mixin cookie(_text)
    .cookie
        .container
            .d-flex.align-items-center.justify-content-center
                .cookie__text= _text
                if block
                    block